<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonWin32" version="1.1.4.2" targetFramework="net472" />
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net472" />
  <package id="MahApps.Metro" version="1.6.0" targetFramework="net472" />
  <package id="MaterialDesignColors" version="1.2.1" targetFramework="net472" />
  <package id="MaterialDesignThemes" version="3.0.0" targetFramework="net472" />
  <package id="MaterialDesignThemes.MahApps" version="0.0.12" targetFramework="net472" />
  <package id="MaterialDesignThemes.MahApps.163" version="0.0.111" targetFramework="net472" />
  <package id="MetroWPF" version="0.2.8.0" targetFramework="net472" />
  <package id="ModernUICharts.WPF.Beta" version="0.9.1" targetFramework="net472" />
  <package id="Panteam.MetroChart" version="1.0.1" targetFramework="net472" />
</packages>